
/* MAIN CSS FILE
Embedded elements linked to style sheet stored in "Public Files" folder of Google Drive via following link:
<link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?id=DISCONTINUED">
 
NOTE: use of google drive to host CSS file introduced lag, the CSS will still be stored within Google Drive but within a GitHub repository 
      The CSS file will now be referenced using the following:
<link rel="stylesheet" type="text/css" href="https://7oakswelcomesrefugees.github.io/main.css">
 */

	body {
		margin: 0;
	}

	p {
		font-family:'Lato', sans-serif;
		color: #212121;
		font-size: 15px; 
	}

	td
	{
	    padding:0 15px;
	    align: left;
	}
	 th, td {
	    font-size: 15px;
	    font-family: 'Lato', sans-serif;
	    color:#212121;
	}

	/* Get involved page */
	p.getinvolved {
		font-size: 20px;
	}

	div.getinvolved {
		text-align:left; 
		padding: 0px 0px 0px 0px
	}

	ul.getinvolved {
		font-family:'Lato', sans-serif; 
		text-decoration:none; 
		color: #212121; 
		font-size: 20px; 
		text-align: left; 
		line-height: 1.4;
	}

	/* Donate */
	div.donate {
		padding: 0px 0px 0px 20px;
	}

	p.donate {
		font-size: 15px;
	}

	/* About us */
	div.aboutus {
		padding: 0px 0px 0px 7px;
	}

	a.aboutus {
		font-family:'lato', serif; 
		color: black; 
		text-decoration: none; 
		font-size: 25px;  
		line-height: 1.3;
	}

	/* Safeguarding*/
	table.safeguarding {
	  	border: 1px double black;
  		border-spacing:0;
  		border-radius: 6px;
	}

	div.safeguarding {
		padding-left: 15px;
	}

	table.safeguarding td {
  		border: 1px solid black;
  		border-spacing:0;
	}

	/* Contact us */
	div.contactus {
		padding: 2px 0 0 0;
	}